<h1>ユーザー一覧</h1>

<%= render 'admin/shared/search_form', url: admin_users_path %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>e-mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to '詳細', admin_user_path(user), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

